* {
    /* background: grey; */
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff8f5;
     font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, #icon h2 {
    font-family: 'Playfair Display', serif; /* Logo + Headings */
    font-weight: 700;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background: #fff8f5;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.head-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#icon svg {
    color: #8d4b00;
    /* font-weight: bold; */
    width: 20px;
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF7F0;
    
  
  
  /* width: 40%; */
  /* max-width: 400px; */
  transition: all 0.3s ease;
}


#search-bar input {
    border-radius: 20px;
    background-color: #f3dfd0;
    border: 2px solid#f3dfd0;
    padding: 14px 39px;
    outline: none;
}

#search-bar svg {
    width: 18px;
    position: relative;
    left: 2rem;
}

header h2 {
    color: #8d4b00;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
header nav ul li {
    color: #392e26;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
header nav ul li:first-child {
    color: #8d4b00;
}
header nav ul li:first-child::after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    margin: auto;
    background-color: #8d4b00;
}
#li-nav:hover {
    color: #8d4b00;
}

#half-circle {
    cursor: pointer;
    padding: .7rem .9rem;
    border-radius: 18px;

    /* background: #f3dfd0 */
}
#half-circle:hover {
    background: #f3dfd0
}

header .fa-adjust {
    font-size: 1.4rem;
    /* color: red; */
}

header button {
    font-weight: bold;
    background: #6e3900;
    border-radius: 15px;
    border: none;
    color: #f3dfd0;
    padding: .5rem 1.5rem;
    cursor: pointer;

    /* box-shadow: rgba(0, 4, 0, 0.6), rgba(4,9,30,0.1); */
    
}
header button:hover {
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
}


/* Section img */
.cook-img {
    background: linear-gradient(rgba(0, 4, 0, 0.6),rgba(4,9,30,0.1),rgba(0,4,0,0.6)), url(/img/savory_co_homepage_desktop_image_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.cook-info {
    width: 90%;
    position: absolute;
    top: 45%;
    color: #fff;
    margin-left: 1.7rem;
}

.cook-info h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.cook-nuum {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    line-height: 2rem;

}

.cook-img-btn {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.cook-img-btn button{
    /* display: flex; */
    /* flex-direction: column; */
    padding: 1.2rem 5.5rem;
    margin-top: 2rem;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.cook-img-btn button:first-child {
    background: #6e3900;
    border: none;
}

.cook-img-btn button:first-child:hover {
    box-shadow: 0 0 10px 0 rgba(0, 4, 0, 0.5);
} 

.cook-img-btn button:last-child {
    border: 2px solid#e9d7cb;
    background: rgba(255, 255, 255,0.1);
    /* opacity: 0.5; */
    backdrop-filter: blur(10px);
    
}

.cook-img-btn button:last-child:hover {
    background: rgba(255, 255, 255,0.2);
}

.cook-img-btn svg {
    width: 20px;
}
.cook-img-btn .first-btn{
    display: flex;
    gap: 1rem;
}

/*featured-recipes  */

#featured-recipes {
    /* border: 2px solid red; */
    background: #fff8f5;
    padding: 0 2rem;
}

.recipes-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 4rem;
}

.recipes-header h2 {
    font-size: 2rem;
    color: #b15f00;
}
.recipes-header .rep-hand {
    margin-top: .5rem;
    font-size: 20px;
}

#recipe-link {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    /* transition: all 0.3s ease;  */
}

#recipe-link p {
    font-size: 20px;
    color: #00714d;
    position: relative;
}

#recipe-link p::after {
    content: '';
    display: block;
    margin: auto;
    background: #00714d;
    height: 2px;
    width: 0%;
    transition: 0.3s ease;
}


#recipe-link svg{
    width: 20px;
    color: #00714d;
    /* transition: all 0.3s ease; */
    
}

#recipe-link span::after {
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    margin: auto;
    background: #00714d;
    position: relative;
    top: 0.4rem;
    transition: 0.3s ease;
}

#recipe-link:hover p::after,
#recipe-link:hover span::after {
    width: 100%;
}


#recipe-link span {
    display: flex;
    justify-content:end ;
    align-items: end;
    flex-direction: column;
}

#recipe-subset {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 1rem; */
    /* flex-basis: 30%; */
    /* flex-direction: column; */
    margin-top: 3rem;
    
}

#recipe-subset img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: block;
    transition: transform 0.3s ease;
}

.recipe-subset-sub {
    border-radius: 10px;
    /* border: 2px solid; */
    background: white;
    height: auto;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
    
    
}

#recipe-subset svg {
    width: 14px;
}

.easy-sub {
    width:auto;
    font-size: 14px;
    font-weight: 600;
    /* color: #392e26; */
    color: #0a3d2e;
    background: #4edea3;
    padding: .4rem .8rem;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    /* bottom: 11.5rem; */
    /* left: .8rem; */
    top: 12px;
    left: 12px;
    z-index: 2;
}

.recipe-subset-sub-set {
    position: absolute;
    padding: .6rem 1.2rem;
    font-weight: 600;
    font: 16px;
    width: auto;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50% );
    border-radius: 999px;
    color: #8d4b00;
    background: #fff8f5;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    /* cursor: pointer; */
    display: none;
    z-index: 3;
    transition: all 0.3s ease;

}

.recipe-subset-sub:hover .recipe-subset-sub-set {
    display: block;
}

.recipe-subset-sub:hover img {
    transform: scale(1.05);
    
}

.recipe-subset-sub:hover {
    transform: translate(6px) scale(1.02); /* card lifts and zooms slightly */
    box-shadow: 0 0 15px 4px rgba(0, 4, 0, 0.3);   
}

.feature-text {
    margin: 1rem;
}

.feature-text p {
    display: flex;
    align-items: center;
    gap: .4rem;

    font-size: 18px;
    margin-bottom: .5rem;
    color: #392e26;
}

.feature-text h4 {
    font-size: 1.4rem;
    font-weight: light;
}

.feature-text-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    margin: 3rem 1rem 1rem 1rem; 
}
.feature-text-sec p {
    color: #b15f00;
}

.feature-text-sec .fa {
    cursor: pointer;
    color: #392e26;
}

.feature-text-sec .fa:hover {
    color: #b15f00;
}


/* meal-categories */

#meal-categories {
    background: #fff1e9;
    padding: 3rem 2rem 2rem 2rem;
}
#meal-categories h2 {
    font-size: 2rem;
    color: #b15f00;
    text-align: center;
    /* margin-top: 2rem; */
}

#meal-icons svg {
    width: 20px;
}

.meals {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    gap: 1rem;
    margin-top: 2.5rem;
}

.meal-sub {
    background: #fff8f5;
     color: #392e26;
    text-align: center;
    padding: 3rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    /* transition: 0.2s ease; */
}

#meal-icons svg {
    width: 35px;
    height: 35px;
    stroke: #b15f00;
}

#meal-icons {
    background: #f7e5d9;
    border-radius: 50px;
    padding: 0.6rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    margin: 0 auto 0.5rem auto;
}

.meal-sub p {
    font-size: 1.1rem;
     font-weight: 600;

}

.meal-sub:hover {
    background: #8d4b00;
    color: #fff8f5;
}

.meal-sub:hover #meal-icons {
    background: #9e611b;
}
.meal-sub:hover #meal-icons svg{
    stroke: #fff8f5;
}


/* resume */
#resume {
    padding: 6rem 2rem;
    display: grid;
    /* align-items: center; */
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    background: #fff8f5;
    position: relative;
}

.res-side {
    position: relative;
}

.resume-img {
    position: relative;
    background-color: #b89c88;
    border-radius: 16px;
    overflow: hidden;
    /* box-shadow: 0 20px 30px 0 rgba(202, 154, 98, 08); */
}

.resume-img img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    transition: 0.4s ease;
}
.resume-img:hover img {
    transform: scale(1.03); /* subtle zoom on hover */
}


#resume-mini {
    background: #fcf9f9; /*#f3dfd0*/
    position: absolute;
    right: -12px;
    bottom: -12px;

    padding: 2rem 2.5rem;
    border-radius: 10px;
    box-shadow: 0 0 22px 0 rgba(0, 4, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#resume-mini svg {
    width: 22px;
    stroke: #005236;
}

.resume-mini-icon {
    padding: 10px;
    border-radius: 50%;
    background: rgb(222, 240, 234);
}

.solo-block {
    background: #e9d7cb; /*#887364*/
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 5rem;
    left: 12px;
    
}

.side-mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.side-mini h5 {
    color: #904d00;
    font-size: 16px;
    font-weight: 500;
}
.side-mini p {
    color: #392e26;
    font-size: 14px;
}

.res-sidebar {
    /* border: 2px solid; */
    /* padding: 3rem; */
    margin: 0;
}

.res-sidebar h2 {
    color: #904d00;
    font-size: 2.5rem;
    margin-top: 7rem;
}

.sidebar-text {
    font-size: 16px;
    font-weight: 500;
    margin-top: 2rem;
    line-height: 26px;
}

.res-sidebar svg {
    width: 20px;
    color: #904d00;
}

.sidebar-icon .ex-icon {
    /* border: 2px solid red; */
}

.sidebar-icon span {
    font-size: 16px;
    color: #9e611b;
    font-family: "Playfair Display", serif;
}

.sidebar-icon p {
    color: #392e26;
    font-size: 14px;
    margin-top: 0.5rem;
}


.sidebar-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0 0 0;
    
    /* margin: 2rem; */
    border-top: 1px solid #f0e7e0;
    border-bottom: 1px solid #f0e7e0;
    padding-top: 10px;
    padding-bottom: 10px;

    
}





.sidebar-icon div {
    text-align: center;
}

.res-sidebar button {
    margin-top: 3rem;
    padding: 1rem 2.5rem;
    font-size: 16px;
    font-weight: bold;
    color: #fff1e9;   
    background: #b15f00;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    
}

.res-sidebar button:hover {
    box-shadow: 0 0 22px 0 rgba(0, 4, 0, 0.3);
}


/* testimonails */

#testimonails {
    background: #fff1e9;
    padding: 3rem 0 2rem 0;
    /* border: 2px solid; */
}


#testimonails h2 {
    font-size: 2rem;
    color: #b15f00;
    text-align: center;
    /* border: 2px solid; */

}

.tests-com img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tests-com {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

.tests-com-sub {
    background: #FAF7F4;
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid #f3f0ed;
}

.tests-com-sub .fa {
    color: #b15f00;
    margin-bottom: 1rem;
}

.tests-ita {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.tests-img {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
     
}

.tests-img h4 {
    font-size: 16px;
    font-family:  #2A2A2A;
    font-weight: 300;
}

.tests-img {
    color: #6F5A47;
    font-size: 12px;
    font-weight: 400;
}

/* contact */

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 3rem 1rem 6rem 1rem;
}

.contact-main {
    background: #8B4513;
    border-radius: 12px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  0 2rem;
}

.contact-main .fa {
    color: #fcf9f9;
    font-size: 2.5rem;
}
.contact-main h3 {
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 700;     
    font-size: 28px;
    color: #fcf9f9;
    letter-spacing: 0.5px;
    line-height: 1.2; 
    margin: 1rem 0;
}

.contact-main .contact-first-p {
    font-family: "Source Sans Pro", "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fcf9f9;

}

#contact .contact-main input {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fcf9f9;
    background-color: #ac6a3b;
    border: 1px solid #bea2a2;
    border-radius: 8px;
    padding: 12px 16px;
    width: 250px;
    outline-color: #fcf9f9;
    outline: none;
    
}
#contact .contact-main input::placeholder {
  color: #fcf9f9; 
  opacity: .5; 
}

#contact input:focus {
  outline: none; 
  border: 1px solid #fcf9f9; 
  
}

#contact #sub-first-btn {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #8B4513;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 2rem;
}

#contact #sub-first-btn:hover {
    opacity: 0.8;
}

.contact-second-p {
    margin-top: .8rem;
    font-family: "Source Sans Pro", "Open Sans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #fcf9f9;
}


.contact-sub h2 {
    font-size: 2rem;
    color: #9e611b;
}

.contact-sub p {
    font-size: 16px;
    font-family: "Source Sans Pro", "Open Sans", Arial, sans-serif;
    font-weight: 500;
    color: #6F5A47;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

form {
    color: #2A2A2A;
    /* font-weight: b; */
}

form .form-nam{
    /* border: 3px solid; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

form .form-nam label{
    display: block;
}

form .form-nam div {
    width: 100%;
    /* border: 2px solid; */
}

form .form-nam input {
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 0.5rem;
    background: #eed3c2;


    font-weight: 400;
    font-size: 15px;
    color: #392e26;
    font-weight: bold;
    border: 1px solid #e4bea0;
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
    outline-color: #fcf9f9;
    outline: none;
}

form .form-nam input::placeholder {
    color: #2A2A2A;
    opacity: 0.5; 
}

.form-second {
    margin-top: 2rem;
}

.form-second label {
    display: block;
}
.form-second textarea {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    height: 100px;
    columns: 5;
    font-weight: 400;
    font-size: 18px;
    padding-left: 1rem;
    border-radius: 12px;
    padding-top: 0.5rem;
    background: #eed3c2;
    opacity: 0.5;
}

.form-second button {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    color: #fcf9f9;
    text-align: center;
    background: #00714d;
    border-radius: 10px;
    height: 4rem;
    margin-top: 1rem;
    border: none;
}

.form-second button:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}


/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    background: #fff1e9;
    
}

.footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

}

footer h3 {
    color: #8d4b00;
    font-size: 1.5rem;
}

.footer-title br {
    display: n;
}

.footer-title p {
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 1.2px;
}

footer .footer-li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

footer .footer-li h4 {
    color: #b15f00;
    margin-bottom: 0.5rem;
    font-size: 17px;
    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 footer .footer-li li {
    list-style: none;
    margin-bottom: 0.5rem;
    font-weight: 500;
    opacity: 0.7;
    /* width: fit-content; */
    cursor: pointer;
    transition: opacity 0.2s ease;

} 

footer .footer-li ul li::after {
    content: '';
    width: fit-content;
    height: 2px;
    display: block;
    margin: auto;
    background: #392e26;
    transition: opacity 0.2s ease;

}
footer .footer-li li:hover {
    border-bottom: 1px solid #392e26;
}


footer .footer-co {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    gap: 0.5rem;
    font-size: 17px;
    color: #392e26;
    opacity: 0.8;
}

footer .footer-co svg {
    width: 20px;
    cursor: pointer;
}






@media(max-width:786px)  {
    header nav, #search-bar {
        display: none;
    }

    /*  */
    .cook-img-btn button{
    padding: 1.2rem 4rem;   
}  
    .cook-nuum {
    font-size: 1.2rem;
}


    /* featured recipes */
    #recipe-subset {
    grid-template-columns: 1fr;
   
}
    #recipe-subset img {
    width: 100%;
    height: 70%;
    
}
    .feature-text-sec {
        /* border: 2px solid; */
        margin-top: 1rem;
    }

    .recipe-subset-sub-set {
        top: 35%;
    }



     

    /* meal-categories */
    .meals {
        grid-template-columns: 1fr 1fr;
    }

    /* resume */
    #resume {
        grid-template-columns: 1fr;
    }
    .res-sidebar h2 {
        margin-top: 1rem;
    }

    /* testimonnial */
    .tests-com {
    grid-template-columns: 1fr;
}


/* contact */

#contact {
    grid-template-columns: 1fr;
    gap: 0;
    /* padding: 3rem 1rem 2rem 1rem; */
    padding: 0 1rem;
}

.contact-main {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.contact-sub h2 {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.form-second button {
    margin-bottom: 2rem;
}

/* footer */
footer {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer .footer-co {
    align-items: center;
}


}



@media(max-width:400px) {
    
    #icon h2 {
        /* font-size: rem; */
    }
    header .fa-adjust {
        font-size: 16px;
    }
    .head-sub {
        gap: .2rem;
    }
    header button {
        font-size: 12px;
    }

    /*  */
    .cook-nuum br {
        display: none;
    }


    .cook-img-btn {
        /* border: 2px solid; */
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 0;
    }
    .cook-img-btn button {
        /* border: 3px solid red; */
    }

    #recipe-subset img {
        /* height: 100px; */
    }

    /*feature  */
    .feature-text h4 {
        font-size: 1.1rem;
    }
    .feature-text p {
        font-size: 14px;
    }
    #featured-recipes {
        padding: 0 1rem;
    }
     .recipe-subset-sub-set {
        top: 50%;
        padding: .5rem 1rem;
        font-size: 1px;
    }

    #featured-recipes h2 {
        font-size: 1.8rem;
    }
    #featured-recipes .rep-hand {
        font-size: 18px;
    }
    #recipe-link {
        /* border: 2px solid; */
        gap: 0;
    }
    #recipe-link p {
        font-size: 14px;
        margin-left: 3rem;
    }

    .recipe-subset-sub {
        padding-bottom: 2rem;
    }


    /* meal-categories */
    #meal-categories h2 {
        font-size: 1.5rem;
    }

    .meal-sub {
        padding: 2rem 1rem;
    
}

    .meal-sub p {
        font-size: 12px;
    }

    #meal-icons {
        width: 50px;
        height: 50px;
    }

    #meal-icons svg {
        width: 20px;
        height: 20px;

    }


    /* resume */
    .resume-img {
        height: auto;
    }
    .resume-img img{
        height: 90vh;
    }


    #resume-mini {
        display: none;
    }

    .res-sidebar {
        /* border: 2px solid; */
    }

    .res-sidebar h2 {
        font-size: 2rem;
        margin-top: 0;
    }

    .ex-icon p {
        /* border: 3px solid; */
        font-size: 12px;
    }

    .sidebar-text {
        font-size: 14px;
    }

    .sidebar-icon {
        margin-top: 1.5rem;
    }

    .res-sidebar button {
        font-size: 14px;
        margin-top: 2rem;
        padding: 0.8rem 1.5rem;

    }


    /* cantact */

    .contact-sub h2 {
    margin-top: 2rem;
    
}

    /* footer */
    footer br {
        display: none;
    }

    .footer-title p {
        font-size: 12px;
    }

    footer .footer-li h4 {
        font-size: 14px;
    }

    footer .footer-li li {
        font-size: 13px;
    }

    footer .footer-co p {
        font-size: 14px;
    }
    footer .footer-co svg {
        width: 14px;
    }
}
